@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="home-page" class="web-app-page"></div>

<script src="/react-app/dist/index.js"></script>
<link rel="stylesheet" href="/react-app/dist/index.css">